.Home {
    padding-top: 90px;
    /* background: linear-gradient(to bottom right, #ffffff, #a8a8a8); */
    /* background-image: url('../../img/ny.png');
    background-size: 100% 100%; */
}

.containerImg {
    width: 100%;
    height: 500px;
    background-image: url('../../img/world5.png');
    background-color: black;
    background-size: 100%;
}

.planetImg {
    height: 500px;
    width: 100%;
    height: 640px;
}

.containerHome {
    /* padding-top: 110px; */
    /* height: 930px; */
    display: flex;
    flex-direction: column;
}


.contentBox {
    width: 100%;
    height: 750px;
    /* margin: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.indexBox {
    margin: 15px 10px;
    padding: 10px;
    height: 130px;
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: thin;
    border-style: solid;
    border-color: #ACACAC;
    border-radius: 5px;
}



#cardBox {
    width: 900px;
}


