#container {
    height: 1023px;
    display: flex;
}

#pageBox {
    height: 930px;
    margin-top: 110px;
}

#filterBox {
    height: 540px;
    width: 310px;
    display: flex;
    justify-content: center;
    align-items: space-around;
}

#indexBox {
    height: 100px;
    width: 310px;
    display: flex;
}

#contentBox {
    width: 900px;
    height: 930px;
    margin-top: 110px;
    display: flex;
    
}

#cardBox {
    width: 900px;
}


