.filterBox {
    height: 540px;
    width: 310px;
    margin: 15px 10px;
    box-sizing: border-box;
    border-width: thin;
    border-style: solid;
    border-color: #ACACAC;
    border-radius: 5px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.filterBox select {
    height: 45px;
    background-color: #F9F9F9;
    border-color: #EDECEC;
    font-size: medium;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.filterBox p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* text-align: left; */
}

.filterBox button {
    /* width: 353px; */
    height: 45px;
    background-color: #464655;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 5px;
}