.filterBox {
    /* height: 540px;
    width: 310px; */
    /* margin: 15px 10px; */
    /* box-sizing: border-box; */
    height: 100px;
    width: 100%;
    margin: 0px;
    
    background-color: #000000;
    border-bottom: 1px solid rgba(172, 172, 172, 0.35);
    /* border-radius: 5px; */
    /* padding: 25px 30px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


.containBox {
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-around;
}

.selects {
    display: flex;
    justify-content: space-around;
}

.containBox p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    /* text-align: left; */
}

.selects select {
    width: 130px;
    height: 40px;
    color: #ffffff;
    background-color: #000000;
    border-color: #edecec1a;
    border-radius: 3px;
}



.filterBox button {
    width: 200px;
    height: 33px;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: #000000;
    border: 1px solid rgba(172, 172, 172, 0.35);
    border-radius: 3px;
}