.container {
    height: 1240px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 140px;
    background-image: url('../../img/world3.png');
    background-size: 100% 100%;
}

.formBox {
    background-color: #dbd8d8ab;
    height: 950px;
    width: 850px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* background: #0000ff73 */
}

.backBox {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.formBox h1{
    font-size: 55px;
    color: #ffffff;
    margin-bottom: 20px;
}

.formComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.inputComponent {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.inputComponent input {
    width: 280px;
    height: 35px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}
.formLabel {
    margin-bottom: 10px;
}

.inputName {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.inputDescription {
    width: 700px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.inputName input {
    width: 280px;
    height: 35px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}

.inputDescription input {
    width: 500px;
    height: 80px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}

.selectForm {
    width: 200px;
    height: 25px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}

.errors {
    color: rgb(179, 64, 64);
    font-weight: bold;
    font-size: 15px;
}

.countriesSelected {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}

.countrySelected {
    display: flex;
    border: 1px solid #ECECEC;
    border-radius: 5px;
    height: 35px;
    align-items: center;
    margin: 5px 10px;
    padding: 0px 5px;
}

.countrySelected h4 {
    margin: 0px 5px
}

.countrySelected button {
    color:rgb(179, 64, 64);
    font-weight: bold;
}