.container {
    height: 1023px;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 140px;
    background-image: url('../../img/world3.png');
    background-size: 100% 100%;
}

.formBox {
    background-color: #dbd8d8ab;
    height: 950px;
    width: 850px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    /* background: #0000ff73 */
}

.formComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
}

.inputComponent {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.inputComponent input {
    width: 280px;
    height: 40px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}

.inputSpecific1 {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.inputSpecific2 {
    width: 700px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.inputSpecific1 input {
    width: 280px;
    height: 40px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}

.inputSpecific2 input {
    width: 500px;
    height: 80px;
    border: 5px;
    border-color: #ECECEC;
    border-radius: 5px;
}