.Card {
    width: 200px;
    height: 220px;
    margin: 20px 20px;
    /* background-color: #ECECEC; */
    /* background: linear-gradient(to bottom right, #b6b6b688, #70707054);; */
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff60;
    /* border-color: #e10858b9; */
    border-radius: 5px;;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.Card:hover {
    width: 205px;
    height: 227px;
    border: 4px solid #ffffff;
    /* border: 3px solid #374658; */
}

.Card img {
    background-size: cover;
    width: 200px;
    height: 140px;
    border-radius: 5px;
    /* padding: 3px; */
    /* border-radius: 10px; */
    object-fit: cover;
}

.Card:hover img {
    width: 205px;
    object-fit: cover;
}

.Card h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 14px;
    border-top: 1px #ffffff60 solid;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 5px 0px 5px;
    height: 38px;
    width: 190px;
}
.Card h3:hover {
    font-size: 16px;
}

.Card h5 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    display: flex;
    border-top: 1px #e4e3e39f solid;
    padding: 10px 10px;
    align-items: flex-start;
    /* height: 20px; */
    width: 100px;
}


