.SearchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SearchContainer input{
    width: 250px;
    height: 33px;
    color: #ffffff;
    /*background-color: rgba(41, 41, 41, 0.33);
    border: 1px solid rgba(172, 172, 172, 0.35);
    border-radius: 5px;*/
    padding: 5px;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 10px;
    background: transparent;
    color: #D7D7D7;
    font-family: 'Poppins';
    font-style: normal;
    /*font-weight: 600;*/
}

.SearchContainer button {
    height: 33px;
    width: 33px;
    background: linear-gradient(to right, #7AABED, #41479B);
    border: 1px solid rgba(172, 172, 172, 0.35);
    border-radius: 5px;
    /* padding: 5px; */
    cursor: pointer;
}

