.NavPaginado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    width: 100%;
}

.NavPaginado p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 30px;
    height: 30px;
    border: 1px solid #185BC3;
    box-sizing: border-box;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectNumber {
    width: 30px;
    height: 30px;
    /*border: 1px solid #185BC3;*/
    box-sizing: border-box;
    background: #185BC3;;
    margin: 3px;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectNumber p {
    color: #ffffff;
    font-size: 12px;
}

.number p {
    color: #185BC3;
    font-size: 12px;
}