.navbar {
    height: 50px;
    width: 90%;
    /* background-color: #00000056; */
    /* background: linear-gradient(to bottom right, #0f336083, #262641); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px rgba(237, 237, 237, 0.26) solid; */
}

.logo {
    height: 25px;
    width: 243px;
    /* margin-left: 52px; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.logo h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color:#F5F5F5;
    background: linear-gradient(to right, #7AABED, #41479B);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    mix-blend-mode: screen;
}

.text {
    color: #d6d2d2;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.inicio {
    font-size: 15px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #ffffff, #7AABED);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav {
    height: 60px;
    width: 650px;
    /* margin-right: 52px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
