.navbar {
    height: 60px;
    width: 90%;
    /* background-color: #00000056; */
    /* background: linear-gradient(to bottom right, #0f336083, #262641); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px rgba(237, 237, 237, 0.26) solid;
}

/* @font-face {
	font-family: "spartan-regular";
	src: url('../../fonts/Spartan/static/Spartan-Regular.ttf');
    src: url('../../fonts/Spartan/static/Spartan-SemiBold.ttf');
} */

.logo {
    height: 66px;
    width: 264px;
    /* margin-left: 52px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    font-family: 'Spartan', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color:#F5F5F5;
}

.text {
    color: #F5F5F5;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav {
    height: 60px;
    width: 650px;
    /* margin-right: 52px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
